.container {
  height: 100vh;
  padding: 20px;
}

.bg-image {
  background-image: url('https://lnk.ink/FGe4C');
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(244, 170, 170, 0.6); /* Dark overlay with 50% opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.right-side mat-card {
  padding: 20px;
}

.l-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  background: #ac9999;
}

.l-card {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

mat-form-field {
  margin-bottom: 50px; /* Adds gap below each field */
}

.center-title {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 16px;
}

.l-description {
  text-align: justify;
  padding-right: 5%;
}
