<mat-card>
  <mat-card-title>
    <div fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="50" fxLayoutGap="5px">
        Event List
      </div>
      <div fxLayout="row" fxFlex fxLayoutAlign="end center">
        <button mat-raised-button style="margin-right: 16px;" color="primary" (click)="onAdd()" type="button"
          matTooltip="Create New Event">Add</button>
        <button mat-raised-button color="primary" type="button" (click)="onLogout()"
          matTooltip="Sign Out">Logout</button>

      </div>
    </div>

  </mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- Book Id -->
      <ng-container matColumnDef="bookId">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Booking ID </th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.id}} </td>
      </ng-container>

      <!-- Event Type -->
      <ng-container matColumnDef="type">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Event Type </th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.eventType}} </td>
      </ng-container>

      <!-- Number of Guest -->
      <ng-container matColumnDef="guest">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Number of Guest </th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.guest}} </td>
      </ng-container>

      <!-- Event Date -->
      <ng-container matColumnDef="date">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Event Date</th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.date | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <!-- Total Ammount-->
      <ng-container matColumnDef="total">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element" class="table-content"> {{element.total}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell class="event-column" *matHeaderCellDef> Actions </th>
        <td mat-cell style="text-align: center;" *matCellDef="let element">
          <button mat-icon-button color="primary" type="button" matTooltip="edit" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" matTooltip="Delete" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row class="event-column" *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card-content>
</mat-card>