.container {
  height: 100vh;
  padding: 20px;
}

.bg-image {
  background-image: url('https://lnk.ink/FGe4C');
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  height: 100vh;
  position: relative;
}

.overlay {
  background-color: rgba(229, 219, 219, 0.6); /* Dark overlay with 50% opacity */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.right-side mat-card {
  padding: 20px;
}