<div class="bg-image">
    <div class="overlay">
        <div fxLayout="row" fxLayoutAlign="center center" class="container">

            <!-- Left Column -->
            <div fxFlex="70" class="left-side">
                <h1>Event Management</h1>
                <p class="l-description"> Event management, as described in Event Management For Dummies, is the process
                    of planning, organizing, and executing various events, both large and small, from conferences and
                    festivals to weddings and corporate functions. It involves managing all aspects of an event, from
                    initial concept to post-event marketing, including budgeting, scheduling, promotion, venue
                    selection, security, health and safety, and entertainment. Essentially, it's about turning an idea
                    into a successful, memorable experience. </p>
            </div>

            <div fxFlex="30">
                <mat-card class="l-card">
                    <!-- <div class="l-container"> -->
                    <mat-card-title class="center-title">Login</mat-card-title>
                    <mat-card-content>
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column">

                            <!-- Email field -->
                            <mat-form-field appearance="fill" floatLabel="always" class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" formControlName="email">
                                <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is
                                    required</mat-error>
                                <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Please enter valid
                                    email</mat-error>
                            </mat-form-field>

                            <!-- Password field -->
                            <mat-form-field>
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password">
                                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is
                                    required</mat-error>
                            </mat-form-field>

                            <!-- Login button -->
                            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                                Login
                            </button>

                        </form>
                        <!-- <p>New user? <a routerLink="/register">Register here</a></p> -->
                        <div class="new-user-prompt">
                            <span>New user?</span>
                            <a mat-button color="accent" routerLink="/register">Register here</a>
                        </div>
                    </mat-card-content>
                    <!-- </div> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>