<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-card fxFlex.xs="90%" fxFlex.sm="70%" fxFlex.md="40%" fxFlex.lg="30%">
    
    <mat-card-title>Login</mat-card-title>

   <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="16px">

    <div class="form-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">

         <small class="form-text text-muted" 
        *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">
          Please enter email address.
        </small>

        <small class="form-text text-muted"
      *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.email">
        Please enter valid email address
      </small>

      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
         <small class="form-text text-muted" 
        *ngIf="loginForm.controls.password.errors?.required">
          Password is required.
        </small>
      </mat-form-field>
    </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>
    </div>
  </mat-card>
</div>